/*
    File name    : _variable.scss
    Created by   : Reksi Permadi
    Created date : 09:23 PM 31/03/2020
*/

// font global
$font_reguler: "Gotham-Book";
$font_medium: "Gotham-Medium";
$font_bold: "VAGRoundedStd-Black";
$font_semibold: "VAGRoundedStd-Bold";

$mystique_regular: "Mystique-Regular";
$hudson_serif: "Hudson-Serif";

$font_awesome: "Font Awesome\ 5 Pro";

//$color Global
$c_primary: #FEA700;
$c_white: #fff;
$c_black: #000;

//$background
$bg_white: #fff;
$bg_footer: #FEB01A;
$bg_default: #F1F1F2;
