/*
    File name    : _fonts.scss
    Created by   : Reksi Permadi
    Created date : 09:23 PM 31/03/2020
*/

@font-face {
    font-family: 'VAGRoundedLt-Regular';
    src: url('../fonts/VOGRounded/VAGRoundedLt-Regular.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'VAGRoundedStd-Bold';
    src: url('../fonts/VOGRounded/VAGRoundedStd-Bold.woff');
    font-style: bold;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'VAGRoundedStd-Black';
    src: url('../fonts/VOGRounded/VAGRoundedStd-Black.woff');
    font-style: 600;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato/Lato-Regular.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ConcoPro-Regular';
    src: url('../fonts/ConcoPro/CoconPro-Regular.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ArialRoundedMT-Bold';
    src: url('../fonts/ArialRoundedMT/ArialRoundedMT-Bold.woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

//Beasty
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Beasty/Gotham-Book.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Beasty/Gotham-Medium.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Mystique-Regular';
    src: url('../fonts/Beasty/Mystique-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Hudson-Serif';
    src: url('../fonts/Beasty/hudson_ny_serif.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
