html {
    line-height: 1.15;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $font_reguler;
    background-color: #fff;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;

    &.modal-open {
        overflow: hidden;
    }
}

.clear {
    clear: both;
}

.beasty-wrapper {
    max-width: 960px;

    @media (max-width: 1024px) {
        max-width: 826px;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 7rem;
    }

    @media (max-width: 767px) {
        padding: 0 2rem;
    }

    @media (min-width: 1360px) {
        max-width: 1033px;
    }

    @media (min-width: 1440px) {
        max-width: 1100px;
    }

    @media (min-width: 1920px) {
        max-width: 1300px;
    }
}

ul.side-menu {
    padding: 0 3.5rem;
    margin: 0;

    &.menu-desktop {
        @media (max-width: 767px) {
            display: none;
        }
    }

    &.menu-mobile {
        display: none;
        position: absolute;
        padding: 0;
        z-index: 2;

        @media (max-width: 767px) {
            display: block;
        }
        
        li {
            display: inline-block;
        }
    }
    
    li {
        list-style: none;
        margin: 1.5rem 0;
        a {
            position: relative;

            .count {
                position: absolute;
                background: #9C3338;
                padding: 0 .2rem;
                border-radius: 45px;
                font-size: .5rem;
                right: 0;
                color: $c_white;

                @media (min-width: 1920px) {
                    font-size: 1rem;
                    padding: 0 .4rem;
                }
            }
            img {
                width: 25px;

                @media (min-width: 1920px) {
                    width: 50px;
                }
            }
        }
    }
}

.box-head {
    .title-small {
        font-family: $mystique_regular;
        font-size: 2.5rem;
        color: $c_primary;
        margin-bottom: 2rem;

        @media (max-width: 767px) {
            font-size: 2rem;
        }

        @media (min-width: 1360px) and (max-height: 700px) {
            margin-bottom: 1rem;
        }

        @media (max-width: 320px) {
            font-size: 1.5rem;
            margin-bottom: 1rem;                        
        }

        @media (min-width: 1440px) {
            font-size: 3rem;
        }

        @media (min-width: 1920px) {
            font-size: 5rem;
            margin-bottom: 5rem;
        }
    }
}

.link-more {
    font-size: .8rem;
    color: $c_primary;

    @media(min-width: 1360px) {
        font-size: 1rem;
    }

    @media (min-width: 1920px) {
        font-size: 1.5rem;
    }

    &:hover {
        color: $c_primary;
    }
}

.owl-nav {
    position: absolute;
    top: 45%;
    transform: translateY(20%);
    width: 100%;

    @media (max-width: 768px) {
        top: 60%;
    }

    @media (max-width: 767px) {
        top: 55%;
    }

    @media (max-width: 414px) {
        top: 50%;
    }

    @media (max-width: 414px) and (max-height: 640px) {
        top: 55%;
    }

    @media (max-width: 320px) {
        top: 56%;                       
    }

    .nav-btn {
        width: 50px;
        height: 50px;
        position: absolute;

        @media (max-width: 767px) {
            width: 40px;
            height: 40px;
        }

        @media (max-width: 414px) {
            width: 50px;
            height: 50px;
        }

        @media (max-width: 320px) {
            width: 30px;
            height: 30px;           
        }

        &.prev-slide {
            left: 9rem;

            @media (max-width: 768px) {
                left: 8rem;
            }

            @media (max-width: 767px) {
                left: 2rem;
            }

            @media (min-width: 1920px) {
                left: 15rem;
            }

            img {
                transform: rotate(180deg);
            }
        }

        &.next-slide {
            right: 9rem;
            
            @media (max-width: 768px) {
                right: 8rem;
            }

            @media (max-width: 767px) {
                right: 2rem;
            }

            @media (min-width: 1920px) {
                right: 15rem;
            }
        }
    }
}

.btn {
    font-family: $font_medium;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 10px;
    // letter-spacing: 2px;
    border: 2px solid;
    padding: .5rem 1.5rem;
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;

    @media (min-width: 1360px) {
        font-size: 1rem;
        border-radius: 15px;
        padding: .6rem .8rem;
    }

    @media (min-width: 1440px) {
        font-size: 1.3rem;
    }

    @media (min-width: 1920px) {
        font-size: 1.5rem;
    }

    &:focus {
        box-shadow: none;
    }

    &.btn-outline-primary { 
        border-color: $c_primary;
        color: $c_white;

        &:hover,
        &:active,
        &:focus {
            background-color: $c_primary !important;
            border-color: $c_primary !important;
            color: $c_white;
        }

        &.text-dark {
            color: #39465F !important;

            &:hover {
                background-color: $c_primary !important;
                border-color: $c_primary !important;
                color: $c_white !important;
            }
        }
    }

    &.btn-outline-secondary {
        border-color: $c_white;
        color: #252929;

        &:hover,
        &:active,
        &:focus {
            background-color: $c_white !important;
            border-color: $c_white !important;
            color: $c_primary;
        }
    }
}

.btn.btn-oval {
    border-radius: 50px;
    background: $c_primary;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: .6rem;
    padding-left: .2rem;
    color: $c_white;
    box-shadow: none;

    @media (min-width: 1440px) {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }

    @media (min-width: 1920px) {
        width: 50px;
        height: 50px;           
    }
}

.ph-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.latest-news {
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        display: block;
        max-height: 690px;
        overflow: hidden;
    }

    @media (max-width: 767px) {
        max-height: 476px;
    }

    @media (max-width: 376px) {
        max-height: 420px;                       
    }

    @media (max-width: 320px) {
        max-height: 336px;                       
    }

    @media (min-width: 1360px) and (max-height: 700px) {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    @media (min-width: 1920px) {
        margin-bottom: 4rem;
    }

    .item-news {
        height: 400px;
        position: relative;

        @media (max-width: 768px) {
            height: 215px;
            margin-bottom: 1rem;
            display: flex;
            background: none !important;
        }

        @media (max-width: 767px) {
            height: 143px;
        }

        @media (max-width: 376px) {
            height: 125px;                   
        }

        @media (max-width: 320px) {
            height: 100px;                   
        }

        @media (min-width: 1360px) {
            height: 430px;
        }

        @media (min-width: 1360px) and (max-height: 700px) {
            height: 355px;
        }

        @media (min-width: 1440px) {
            height: 459px;
        }

        @media (min-width: 1920px) {
            height: 542px;
        }

        &:after {
            content: '';
            width: 100%;
            height: 190px;
            background-image: url(../images/homepage/news/bg-news.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;

            @media (max-width: 768px) {
                width: 20%;
                height: 222px;
                background-image: url(../images/homepage/news/bg-news-mobile.png);
                background-size: cover;
                right: 10rem;
            }

            @media (max-width: 767px) {
                width: 13%;
                height: 152px;
                bottom: -.2rem;
                right: 7.5rem;
            }

            @media (max-width: 376px) and (min-height: 800px) {
                right: 6.5rem;
            }

            @media (max-width: 376px) {
                right: 6.5rem;
            }

            @media (max-width: 320px) {
                right: 5.5rem; 
                height: 102px;
                bottom: -.15rem;              
            }

            @media (min-width: 1360px) {
                height: 215px;
            }

            @media (min-width: 1360px) and (max-height: 700px) {
                height: 193px;
            }

            @media (min-width: 1920px) {
                height: 265px;
            }
        }

        .box-image {
            display: none;

            @media (max-width: 768px) {
                flex: 0 60%;
                max-width: 60%;
                display: block;
                overflow: hidden;
            }
        }

        .content-news {
            position: absolute;
            bottom: 0;
            z-index: 2;
            padding: 1rem 2rem;

            @media (max-width: 768px) {
                position: relative;
                flex: 0 40%;
                max-width: 40%;
                background-color: #231F20;
                padding: 2rem;
                padding-left: .9rem;
            }

            @media (max-width: 767px) {
                padding: 1rem;
                padding-left: 1.5rem;
            }

            @media (max-width: 376px) {
                padding-left: 1rem;               
            }

            .title-news {
                font-family: $hudson_serif;
                font-size: 1rem;
                color: $c_white;
                height: 36px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media (max-width: 768px) {
                    height: 100px;
                    -webkit-line-clamp: 4;
                    text-align: right;
                    font-size: 1.2rem;
                }

                @media (max-width: 767px) {
                    height: 73px;
                    font-size: 1rem;
                }

                @media (max-width: 376px) {
                    font-size: .8rem;           
                }

                @media (max-width: 360px) {
                    font-size: .75rem;
                }

                @media (max-width: 320px) {
                    height: 46px;
                    font-size: .6rem;           
                }

                @media (min-width: 1360px) {
                    font-size: 1.2rem;
                    height: 44px;
                }

                @media (min-width: 1920px) {
                    font-size: 1.7rem;
                    height: 60px;
                }
            }

            .link-more {
                @media (max-width: 768px) {
                    font-size: .9rem;
                    position: absolute;
                    bottom: 1rem;
                    right: 2rem;
                }

                @media (max-width: 767px) {
                    right: 1rem;
                }

                @media (max-width: 376px) {
                    font-size: .7rem;           
                }
            }
        }
    }
}

.form {

    &.grey {
        .form-control {
            background-color: #fff;
            border-color: #C7C6C6;
        }
    }

    label {
        font-family: $font_medium;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .form-control {
        background: transparent;
        border: 2px solid $c_primary;
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }

        &.selectize-control {
            padding: 0;

            &.multi {
                .selectize-input {
                    &.has-items {
                        padding: 5px 8px 0px;
                    }

                    &> div {
                        background: transparent;
                        border: 2px solid orange;
                        border-radius: 20px;
                    }
                }
            }

            .selectize-input {
                border: none;
            }
        }
    }

    select {
        height: auto;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../images/Chevron-Down.svg) no-repeat right #fff !important;
        background-size: 6% !important;
        background-position-x: 97% !important;
    }

    input[type="date"] {
        position: relative;

        &::-webkit-calendar-picker-indicator {
            color: transparent;
            background: none;
            z-index: 1;
        }

        &:before {
            color: transparent;
            background: none;
            display: block;
            font-family: $font_awesome;
            content: '\f073';
            width: 15px;
            height: 20px;
            position: absolute;
            top: 6px;
            right: 6px;
            color: #212529;
        }
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }

    textarea {
        height: 100px;
    }
}

.nav-tabs {
    border-bottom: none;
    width: max-content;
    margin: 0 auto;

    li {
        padding: 0 .8rem;
        position: relative;

        &:after {
            content: '';
            width: 5px;
            height: 31px;
            background: url(../images/sign-in/Divider-Sign-in-Sign-up.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            right: -.2rem;
            top: .2rem;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        a {
            font-family: $hudson_serif;
            font-size: 1.5rem;
            color: #FEDC99;
            outline: none;
            transition: .3s;
            -webkit-transition:.3s;
            -moz-transition:.3s;
            -o-transition:.3s;

            &.active,
            &:hover {
                color: #242829;
                text-decoration: none;
            }
        }
    }
}

.box-label {
    label {
        text-transform: uppercase;
        display: block;
        font-size: .7rem;
        font-weight: bold;

        @media (max-width: 320px) {
            font-size: .6rem;                        
        }

        @media (min-width: 1440px) {
            font-size: .9rem;
        }

        @media (min-width: 1920px) {
            font-size: 1rem;
        }

        &.value {
            font-size: 1rem;
            text-transform: none;
            font-weight: 600;

            @media (max-width: 320px) {
                font-size: .8rem;                    
            }

            @media (min-width: 1440px) {
                font-size: 1.2rem;
            }

            @media (min-width: 1920px) {
                font-size: 1.5rem;
            }
        }
    }
}

.modal-backdrop {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;

    &.fade {
        visibility: hidden;
    }

    &.show {
        visibility: visible;
    }
}

.modal-address {
    .modal-dialog {
        max-width: 555px;

        .modal-content {
            background: $bg_default;
            border-radius: 15px;
        }

        .modal-body {
            padding: 2rem 4rem;

            @media (max-width: 767px) {
                padding: 2rem;   
            }

            .close {
                position: absolute;
                right: 1.5rem;
                top: 1rem;
                font-size: 2rem;
                color: $c_primary;
                outline: none;
            }

            .box-content {
                .box-head {
                    text-align: center;
                    margin-bottom: 2rem;

                    .title-form {
                        font-family: $hudson_serif;
                        font-size: 2.5rem;
                        position: relative;

                        @media (max-width: 767px) {
                            font-size: 2rem;
                        }

                        &:after {
                            content: '';
                            width: 80%;
                            height: 28px;
                            background-image: url(../images/homepage/underline.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 2rem;
                            bottom: -.5rem;
                            transform: rotate(5deg);

                            @media (max-width: 767px) {
                                height: 19px;
                                bottom: -1rem;
                            }
                        }
                    }
                }

                .box-form {
                    .checkbox {
                        label {
                            text-transform: none;
                        }

                        input {
                            margin-right: .5rem;
                        }
                    }

                    .btn-holder {
                        margin-top: 1.5rem;

                        @media (min-width: 1360px) {
                            .btn {
                                font-size: 1rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-payment-success {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .box-head {
                    margin-top: 2rem !important;
                    padding: 0 3rem !important;

                    @media (max-width: 376px) {
                        padding: 0 !important;
                    }

                    @media (max-width: 361px) {
                        padding: 0 1rem !important;
                    }

                    .title-form {
                        &.orange {
                            font-size: 2.5rem !important;
                            line-height: 3rem !important;

                            @media (max-width: 361px) {
                                font-size: 2rem !important;
                                line-height: 3rem !important;
                            }

                            @media (max-width: 320px) {
                                font-size: 1.5rem !important;
                                line-height: 2rem !important;    
                            }
                        }
                    }
                }
            }
        }
    }
}

.title-checkout {
    font-family: $hudson_serif;
    font-family: 1.5rem;
    margin-bottom: 1rem;
}

.table {
    th,
    td {
        border-top: 0;
        border-bottom: 2px solid $c_primary;
        font-size: .8rem;

        @media (min-width: 1440px) {
            font-size: 1.1rem;
        }

        @media (min-width: 1920px) {
            font-size: 1.3rem;
        }
    }

    th {
        text-transform: uppercase;
        font-family: $font_medium;
    }

    td {
        padding: 1.5rem .5rem;
    }

    a {
        color: #A6A4A5;
    }

    b {
        font-family: $font_medium;
    }
}

.woocommerce-error {
    border-top-color: #b81c23;
    color: #b81c23;
    width: 960px;
    margin: 0 auto;
    margin-top: 2rem;

    @media (max-width: 767px) {
        width: 100%;
        margin-top: 0;
        position: fixed;
        top: 5.1rem;
        padding: .5rem 2rem;
        left: 0;
        z-index: 9;

        &:before {
            top: .5em;
            left: .5em;
        }
    }
}

.modal-dialog {
    @media (max-width: 767px) {
        padding: 0 1rem;
    }
}

.woocommerce-form-coupon-toggle {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 2rem;

    @media (max-width: 1024px) {
        max-width: 826px;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 7rem;
    }

    @media (max-width: 767px) {
        padding: 0 2rem;
    }

    @media (min-width: 1360px) {
        max-width: 1033px;
    }

    @media (min-width: 1440px) {
        max-width: 1100px;
    }

    @media (min-width: 1920px) {
        max-width: 1300px;
    }

    .woocommerce-info {
        border-top-color: $c_primary;

        &:before {
            color: $c_primary;
        }
        
        a {
            color: $c_primary;

            &:hover {
                color: $c_primary;
                text-decoration: underline;
            }
        }
    }
    
}

.woocommerce form.checkout_coupon {
    max-width: 960px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        max-width: 826px;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 7rem;
    }

    @media (max-width: 767px) {
        padding: 0 2rem;
    }

    @media (min-width: 1360px) {
        max-width: 1033px;
    }

    @media (min-width: 1440px) {
        max-width: 1100px;
    }

    @media (min-width: 1920px) {
        max-width: 1300px;
    }

    .form-row input.input-text {
        padding: .5rem 1rem;
    }

    button.button {
        padding: .8rem 2rem;
        background: $c_primary;

        &:hover {
            background: #ffc75c;
        }
    }
}

.popmake-overlay {
    z-index: 2 !important;
}

.cart-open {
    overflow-x: hidden !important;
}