.footer {
    background-color: $bg_footer;
    padding: 1rem 0 !important;
    font-size: .7rem;
    position: relative;
    z-index: 2;

    @media (min-width: 1920px) {
        padding: 2rem 0 !important;
        font-size: .9rem;
    }

    .box-left {
        .box-image-footer {
            img {
                width: 150px;

                @media (max-width: 767px) {
                    width: 110px;
                }

                @media (min-width: 1920px) {
                    font-size: 193px;
                }
            }
        }

        .box-address {
            position: relative;
            top: 1rem;
            padding-left: 2rem;

            @media (max-width: 767px) {
                top: .5rem;
                padding-left: 0;
                font-size: .6rem;
            }

            @media (max-width: 320px) {
                font-size: .45rem;               
            }
        }
    }

    .box-right {
        .box-copyright {
            position: relative;
            top: 1rem;

            @media (max-width: 767px) {
                top: 1rem;
            }

            @media (max-width: 320px) {
                font-size: .45rem;               
            }

            a {
                color: #212529;
            }
        }

        .social-media {
            padding: 0;
            margin: 0;
            position: relative;
            top: .9rem;
            text-align: center;

            @media (max-width: 767px) {
                top: 1rem;
            }

            @media(min-width: 1360px) {
                top: 1.7rem;
            }

            li {
                list-style: none;
                display: inline-block;
                margin: 0 .5rem;

                @media (max-width: 376px) {
                    margin: 0 .3rem;
                }
                
                a {
                    font-size: 1rem;
                    color: #212529;
                    text-decoration: none;

                    @media (max-width: 320px) {
                        font-size: .7rem;       
                    }

                    @media(min-width: 1360px) {
                        font-size: 1.2rem;
                    }

                    @media (min-width: 1920px) {
                        font-size: 1.6rem;
                    }

                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }

                    span {
                        font-size: .9rem;
                        font-size: .8rem;
                        position: relative;
                        top: -.1rem;
                    }
                }
            }
        }
    }
}