.navbar {
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;

    @media (max-width: 376px) {
        padding: .5rem 0;
    }

    @media (min-width: 1360px) {
        height: 106px;
    }

    @media (min-width: 1920px) {
        height: 150px;
    }

    &.navbar-dark {
        background-color: #24282A;

        .navbar-header {
            .navbar-toggle {
                .menu-icon {
                    & > span {
                        background: $c_white !important;
                    }
                }
            }
        }
    }

    &.with-bg {
        background-color: #FFF;

        @media (min-width: 1360px) {
            height: 79px;
        }

        @media (min-width: 1920px) {
            height: 115px;
        }

        .navbar-header {
            height: 50px;

            @media (min-width: 1920px) {
                height: auto;
            }
            
            .navbar-brand-centered {
                width: 150px;
                top: -.5rem;

                @media (min-width: 1360px) {
                    width: 170px;
                }

                @media (min-width: 1920px) {
                    width: auto;

                    .img-logo {
                        width: 270px;
                    }
                }
            }
            
            .navbar-toggle {
                height: 50px;

                .menu-icon {
                    & > span {
                        background: $c_black !important;
                    }
                }
            }
        }
    }
    .navbar-header {
        width: 100%;
        height: 66px;
        position: relative;
        transition: .3s;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;

        .navbar-brand-centered {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            display: block;
            width: 200px;
            height: 66px;
            text-align: center;
            transition: .3s;
            -webkit-transition: .3s;
            -o-transition: .3s;
            -moz-transition: .3s;

            @media (max-width: 376px) {
                margin-right: 0;
            }

            @media (min-width: 1920px) {
                width: auto;
            }

            .img-logo {
                width: 170px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                @media (max-width: 376px) {
                    width: 115px;
                }

                @media (min-width: 1360px) {
                    width: 250px;
                }

                @media (min-width: 1920px) {
                    width: 375px;
                }
            }
        }
    
        .navbar-toggle {
            float: right;
            height: 66px;
            width: 20px;
            transition: .3s;
            opacity: 1;
            visibility: visible;
            position: relative;
            right: 3rem;
            -webkit-transition: .3s;
            -o-transition: .3s;
            -moz-transition: .3s;

            @media (max-width: 376px) {
                width: auto;
                right: .5rem;
            }

            @media (min-width: 1920px) {
                right: 4rem;
            }

            &.hide {
                opacity: 0;
                visibility: hidden;
            }

            .menu-icon {
                display: grid;
                place-items: center;
                height: 24px;
                width: 50px;
                cursor: pointer;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                &.color-white {
                    & > span {
                        background: $c_white;
                    }
                }

                & > span {
                    width: 50px;
                    height: 3px;
                    background: $c_black;
                    display: block;
                    transition: all 0.3s ease-in-out;

                    @media (min-width: 1920px){
                        height: 8px;
                        margin-bottom: .9rem;
                    }
                }

                .line-1,
                .line-2 {
                    width: 42px;
                    justify-self: end;

                    @media (max-width: 376px) {
                        width: 32px;
                    }

                    @media (min-width: 1920px) {
                        width: 70px;
                    }
                }
            }
        }
    }
}

.box-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    z-index: 1034;
    padding: 2rem 0;
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .btn-close {
        position: relative;
        right: 2.5rem;
        top: -.5rem;

        @media (max-width: 376px) {
            right: 1.2rem;
            top: -1rem;
        }

        i {
            font-size: 3rem;
            color: $c_primary;
            cursor: pointer;

            @media (min-width: 1920px) {
                font-size: 5rem;
            }
        }
    }

    .menu-list {
        padding: 0;
        margin: 0;
        position: relative;
        top:1rem;
        right: 3rem;

        @media (max-width: 767px) {
            right: 2rem;
        }

        @media (max-width: 376px) {
            right: 1rem;
        }

        @media(min-width: 1360px) {
            top: 2rem;
        }
        
        li {
            list-style: none;

            a {
                font-family: $hudson_serif;
                font-size: 3.5rem;
                color: $c_white;
                position: relative;

                &:after {
                    content: '';
                    width: 100%;
                    height: 50px;
                    background: url(../images/homepage/underline.png);
                    background-size: cover;
                    position: absolute;
                    bottom: -.5rem;
                    left: 0;
                    z-index: -1;
                    transform: rotate(5deg);
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s;
                    -moz-transition: .3s;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                }

                @media(min-width: 1360px) {
                    font-size: 4rem;
                }

                @media(min-width: 1360px) and (max-height: 700px) {
                    font-size: 3.3rem;
                }

                @media (max-width: 320px) {
                    font-size: 2.5rem;           
                }

                @media (min-width: 1920px) {
                    font-size: 6.7rem;
                }

                @media (min-width: 1920px) and (max-height: 1080px) {
                    font-size: 6.2rem;
                }

                &:hover {
                    text-decoration: none;

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}