.sidebar-container {
    position: fixed;
    height: 100vh;
    z-index: 99;
    
    .box-sidebar {
        position: relative;
        top: 50%;
        transform: translatey(-60%);
    }
}

.modal-signin {
    overflow: hidden !important;

    .modal-dialog {
        max-width: 430px;
        margin: 4.75rem auto;

        @media (max-width: 320px) {
            margin: .75rem auto;                   
        }

        @media (min-width: 1360px) {
            margin: 5.75rem auto;
        }

        @media (min-width: 1920px) {
            margin: 9.75rem auto;                       
        }

        .modal-content {
            background: $c_primary;
            border-radius: 1rem;

            .modal-body {
                .close {
                    color: $c_white;
                    opacity: 1;
                }

                .box-head {
                    text-align: center;
                    margin-top: 1rem;

                    .title-form {
                        font-family: $mystique_regular;
                        font-size: 4rem;
                        line-height: 4rem;
                        margin: 0;
                        transform: rotate(-4deg);

                        @media (max-width: 320px) {
                           font-size: 2.5rem;
                           line-height: 2.5rem; 
                        }

                        &.white {
                            font-size: 5.5rem;
                            line-height: 5.5rem;
                            color: $c_white;

                            @media (max-width: 320px) {
                                font-size: 4rem;
                                line-height: 4rem;
                            }
                        }
                    }

                    &.create-account {
                        .title-form {
                            font-size: 3rem;
                            line-height: 3rem;

                            @media (max-width: 320px) {
                                font-size: 2.5rem;
                                line-height: 2.5rem;
                            }

                            &.white {
                                font-size: 4.7rem;
                                line-height: 4.7rem;

                                @media (max-width: 320px) {
                                    font-size: 3.5rem;
                                    line-height: 3.5rem;
                                }
                            }
                        }
                    }
                }

                .box-form {
                    padding: 0 4rem;
                    margin-top: 2rem;

                    @media (max-width: 767px) {
                        padding: 0 2rem;
                    }

                    @media (max-width: 320px) {
                        padding: 0 1rem;
                        margin-top: 1rem;
                    }

                    &.next-step {
                        display: none;
                    }

                    .form {
                        .form-group {
                            margin-bottom: .5rem;
    
                            .form-control {
                                background: $c_white;
                            }

                            label {
                                margin-bottom: 0;
                            }
                        }

                        .btn {
                            @media (min-width: 1360px) {
                                font-size: .8rem;
                            }
                        }
                    }

                    .box-forgot {
                        display: flex;
                        align-content: space-between;
                        font-size: .7rem;

                        .checkbox {
                            flex: 0 50%;
                            max-width: 50%;

                            label {
                                text-transform: none;
                                font-family: inherit;

                                input {
                                    margin-right: .2rem;
                                }
                            }
                        }

                        a {
                            color: #212529;
                            font-weight: n;
                            flex: 0 50%;
                            max-width: 50%;
                            text-align: right;
                        }
                    }
                }

                .btn-holder {
                    margin: 1rem 0;
                    position: relative;

                    .btn-back {
                        position: absolute;
                        left: 0;
                        background: transparent;
                        border: none;
                        color: $c_white;
                        text-transform: uppercase;
                        font-size: .8rem;
                        top: .5rem;

                        i {
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}

.modal-success {
    .modal-dialog {
        .modal-content {
            background: #F1F1F2;

            .modal-body {
                .close {
                    color: $c_primary;
                }

                .box-head {
                    .title-form {
                        font-size: 3.5rem;
                        line-height: 3.5rem;

                        @media (max-width: 320px) {
                            font-size: 2rem;
                            line-height: 2rem;        
                        }

                        &.orange {
                            font-size: 4rem;
                            line-height: 4rem;
                            color: $c_primary;

                            @media (max-width: 320px) {
                                font-size: 3.5rem;
                                line-height: 3.5rem;
                            }
                        }
                    }

                    &.small {
                        margin-bottom: 2rem;

                        .title-form {
                            font-family: $hudson_serif;
                            font-size: 1.2rem;
                            line-height: 1.2rem;
                            transform: none;
                        }
                    }
                }

                .box-image {
                    position: relative;
                    bottom: -1rem;
                }
            }
        }
    }
}

.modal-forgot-password {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .box-head {
                    margin-top: 3rem;
                    margin-bottom: 2rem;

                    .title-form {
                        font-size: 3rem;
                        line-height: 3rem;

                        &.orange {
                            position: relative;

                            &:after {
                                content: '';
                                width: 245px;
                                height: 23px;
                                background: url(../images/homepage/underline.png);
                                background-size: cover;
                                position: absolute;
                                bottom: -1.7rem;
                                left: 4rem;
                                transform: rotate(5deg);
                            }
                        }
                    }

                    &.small {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}

.box-cart {
    z-index: 1050;
    position: fixed;
    background: $bg_default;
    width: 400px;
    height: 100vh;
    padding: 2rem;
    padding-left: 4rem;
    left: -100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;

    @media (max-width: 767px) {
        left: -107%;
        width: 100%;
        padding-left: 2rem;
    }

    @media (max-width: 360px) {
        left: -112%;
    }

    @media (min-width: 1360px) {
        width: 420px;
        padding: 3rem;
        padding-right: 2rem;
    }

    @media (min-width: 1440px) {
        width: 470px;
    }

    @media (min-width: 1920px) {
        width: 585px;
        padding-left: 4rem;
    }

    &.active {
        left: 0;
    }

    .box-head {
        margin-bottom: 2rem;
        text-align: center;

        @media (min-width: 1360px) {
            margin-bottom: 3rem;
        }

        @media (min-width: 1440px) {
            margin-bottom: 4rem;
        }

        @media (min-width: 1920px) {
            margin-bottom: 5rem;
        }

        .close {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            font-size: 2rem;
            opacity: 1;
            color: $c_primary;
            outline: none;

            @media (min-width: 1920px) {
                font-size: 2.5rem;
            }
        }

        .title-cart {
            font-family: $hudson_serif;
            font-size: 2rem;
            position: relative;

            @media (min-width: 1440px) {
                font-size: 2.5rem;
            }

            @media (min-width: 1920px) {
                font-size: 3rem;
            }

            &:after {
                content: '';
                width: 85%;
                height: 22px;
                background-image: url(../images/homepage/underline.png);
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                bottom: -1rem;
                left: 1.5rem;
                transform: rotate(4deg);

                @media (min-width: 1440px) {
                    height: 28px;
                    bottom: -1.5rem;
                }

                @media (min-width: 1920px) {
                    width: 80%;
                    height: 33px;
                    bottom: -2rem;
                    left: 2rem;
                }
            }
        }
    }

    .box-list-cart {
        max-height: 63vh;
        overflow: auto;
        margin-bottom: 1rem;
        align-content: space-between;
        padding-right: 1rem;

        @media (min-width: 1360px) {
            margin-bottom: 2rem;
        }

        @media (min-width: 1360px) and (max-height: 700px) {
            max-height: 55vh;
        }

        @media (min-width: 1920px) {
            max-height: 70vh;
        }

        @media (min-width: 1920px) and (max-height: 1080px) {
            max-height: 60vh;
            margin-bottom: 4rem;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
         
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            width: 3px;
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: $c_primary;
        }

        .list-cart {
            display: flex;
            margin-bottom: 1.5rem;

            @media (min-width: 1360px) {
                margin-bottom: 2rem;
            }

            .box-image {
                flex: 0 35%;
                max-width: 35%;
                margin-right: 1rem;
            }

            .box-desc {
                position: relative;
                flex: 0 60%;

                .close {
                    position: absolute;
                    right: 0;
                    top: .3rem;
                    font-size: .8rem;

                    @media (min-width: 1440px) {
                        font-size: 1.2rem
                    }

                    @media (min-width: 1920px) {
                        font-size: 1.8rem;
                    }
                }

                h4 {
                    font-family: $hudson_serif;
                    font-size: 1.3rem;
                    margin: 0;

                    @media (min-width: 1360px) {
                        font-size: 1.4rem;
                    }

                    @media (min-width: 1440px) {
                        font-size: 1.8rem;
                    }

                    @media (min-width: 1920px) {
                        font-size: 2.3rem;
                    }
                }

                .price-product {
                    font-size: .9rem;

                    @media (min-width: 1360px) {
                        font-size: 1rem;
                    }

                    @media (min-width: 1440px) {
                        font-size: 1.1rem;
                    }

                    @media (min-width: 1920px) {
                        font-size: 1.5rem;
                    }

                    b {
                        font-family: $font_bold;
                    }
                }

                .box-form {
                    position: relative;
                    
                    .total-price {
                        font-size: .7rem;
                        position: absolute;
                        right: 0;
                        top: .3rem;

                        @media (min-width: 1360px) {
                            font-size: .8rem;
                        }

                        @media (min-width: 1440px) {
                            font-size: 1rem;
                        }

                        @media (min-width: 1920px) {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .form-control.number {
                width: 43px;
                background: transparent;
                border: none;
                border-bottom: 1px solid #000;
                border-radius: 0;
                text-align: center;
                font-size: .8rem;
                box-shadow: none;
                margin: 0 .5rem;
                padding: 0;

                @media (max-width: 320px) {
                    width: 27px;
                }

                @media (min-width: 1440px) {
                    font-size: 1rem;
                }

                @media (min-width: 1920px) {
                    font-size: 1.5rem;
                }
                
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            input[type=number] {
                -moz-appearance: textfield;
            }

            .btn {
                &.btn-oval {
                    width: 25px;
                    height: 25px;
                    padding-left: 0;

                    @media (min-width: 1360px) {
                        width: 30px;
                        height: 30px;
                    }

                    @media (min-width: 1920px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    } 
    
    .btn-holder {
        .total-checkout {
            font-family: $font_bold;
            text-transform: uppercase;
            margin-bottom: .3rem;

            @media (min-width: 1440px) {
                font-size: 1.2rem;
            }

            @media (min-width: 1920px) {
                font-size: 1.5rem;
            }
        }
    }
}